.login-component {
  max-width: 890px;
  width: 100%;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
}

.login-component h2 {
  font-size: 60px;
}

.inputs {
  margin-bottom: 20px;
}

input {
  border: none;
  border-bottom: 2px solid turquoise;
  outline: none;
  font-size: 16px;
  padding: 8px;
  width: 350px;
}

input:focus {
  outline: none;
}

input:not(:last-child) {
  margin-right: 10px;
}
